# Lipieza de la Data

### Importacion de la data

In [ ]:
import pandas as pd
import numpy as np
from GettinTheData import df_bd_grados

## Identificacion de los valores anomalos en el DataFrame df_bd_grados

In [ ]:
df_bd_grados

,Latitud,Longitud,Ubicaciones,Origen,F. Doc,F. Vcto,Dias Venc.,SaldoCartera,Sin Vencer,0-30,31-60,61-90,91-120,121+
0,3.4516,-76.5320,Cali,NC Venta,2024-02-14 00:00:00,2024-02-14 00:00:00,19,11900.00,0.00,11900.0,0.0,0.0,0.0,0.00
1,4.4447,-75.2424,Ibagué,Factura Venta,2024-02-26 00:00:00,2024-04-11 00:00:00,38,2201500.00,2201500.00,0.0,0.0,0.0,0.0,0.00
2,10.4631,-73.2532,Valledupar,Factura Venta,2024-02-27 00:00:00,2024-03-28 00:00:00,24,931375.00,931375.00,0.0,0.0,0.0,0.0,0.00
3,7.8891,-72.4967,Cúcuta,Factura Venta,2023-12-19 00:00:00,2024-02-17 00:00:00,16,6134450.00,0.00,6134450.0,0.0,0.0,0.0,0.00
4,7.8891,-72.4967,Cúcuta,Factura Venta,2024-02-13 00:00:00,2024-04-13 00:00:00,40,6386730.00,6386730.00,0.0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6688,7.1193,-73.1227,Bucaramanga,Factura Venta,28/09/2024,24/11/2024,130,47130.50,0.00,0.0,0.0,0.0,0.0,47130.50
6689,5.0689,-75.5174,Manizales,Factura Venta,2024-12-09 00:00:00,30/01/2026,0,48852.36,48852.36,0.0,0.0,0.0,0.0,0.00
6690,6.2442,-75.5812,Medellín,NC Venta,2024-04-12 00:00:00,2024-07-02 00:00:00,0,17202.59,17202.59,0.0,0.0,0.0,0.0,0.00
6691,10.3910,-75.4794,Cartagena,Factura Venta,2024-08-06 00:00:00,2024-11-01 00:00:00,0,49265.33,49265.33,0.0,0.0,0.0,0.0,0.00
6692,10.3910,-75.4794,Cartagena,Factura Venta,10/06/2023,08/07/2023,635,16058.69,0.00,0.0,0.0,0.0,0.0,16058.69

### Identificacion de valores anomalos en la columna Cliente

In [11]:
cliente_column_unique_values = df_bd_grados["Cliente"].unique()
cliente_column_unique_values

NameError: name 'df_bd_grados' is not defined

### Identificacion de los tipos de las columnas del dataframe, con el fin de identificar sus tipos y sus nulos

In [12]:
df_bd_grados.info()

NameError: name 'df_bd_grados' is not defined

#### Nulos identificados

In [79]:
## Se identifica que en las columnas "Sin vencer", "0-30", "31-60", "61-90", "91-120","+121" tienen columnas NaN
## A tene en cuenta, la sumatoria de los registrso llenados en las columnas anteriormente mencionadas dan la totalidad de los registros esperados por columna (1692)
df_bd_grados.fillna(0.0 , inplace=True)

#### Nulos limpios

In [80]:
df_bd_grados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6693 entries, 0 to 6692
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Asesor         6693 non-null   object
 1   Ubicaciones    6693 non-null   object
 2   Cliente        6693 non-null   object
 3   Origen         6693 non-null   object
 4   Numero_Origen  6693 non-null   int64
 5   F. Doc         6693 non-null   object
 6   F. Vcto        6693 non-null   object
 7   Dias Venc.     6693 non-null   int64
 8   SaldoCartera   6693 non-null   float64
 9   Sin Vencer     6693 non-null   float64
 10  0-30           6693 non-null   float64
 11  31-60          6693 non-null   float64
 12  61-90          6693 non-null   float64
 13  91-120         6693 non-null   float64
 14  121+           6693 non-null   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 784.5+ KB

In [81]:
df_bd_grados_no_nulls = df_bd_grados.copy()
df_bd_grados_no_nulls

,Asesor,Ubicaciones,Cliente,Origen,Numero_Origen,F. Doc,F. Vcto,Dias Venc.,SaldoCartera,Sin Vencer,0-30,31-60,61-90,91-120,121+
0,Diana Cartagena,Cali,Red de Servicios Médicos Santa,NC Venta,3630,2024-02-14 00:00:00,2024-02-14 00:00:00,19,11900.00,0.00,11900.0,0.0,0.0,0.0,0.00
1,Diana Cartagena,Ibagué,Clínica Materno Infantil San Camilo,Factura Venta Venta,87557,2024-02-26 00:00:00,2024-04-11 00:00:00,38,2201500.00,2201500.00,0.0,0.0,0.0,0.0,0.00
2,Diana Cartagena,Valledupar,Centro de Diagnóstico Integral Valle Dorado,Factura Venta Venta,87614,2024-02-27 00:00:00,2024-03-28 00:00:00,24,931375.00,931375.00,0.0,0.0,0.0,0.0,0.00
3,Yurany Suarez,Cúcuta,Hospital de Especialidades Santa Teresa,Factura Venta Venta,86350,2023-12-19 00:00:00,2024-02-17 00:00:00,16,6134450.00,0.00,6134450.0,0.0,0.0,0.0,0.00
4,Yurany Suarez,Cúcuta,Hospital de Especialidades Santa Teresa,Factura Venta Venta,87310,2024-02-13 00:00:00,2024-04-13 00:00:00,40,6386730.00,6386730.00,0.0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6688,Yurany Suarez,Bucaramanga,Centro de Diagnóstico Avanzado Santa Regina,Factura Venta,4514,28/09/2024,24/11/2024,130,47130.50,0.00,0.0,0.0,0.0,0.0,47130.50
6689,Diana Alfonso,Manizales,Clínica de Urgencias Los Manantiales,Factura Venta,3382,2024-12-09 00:00:00,30/01/2026,0,48852.36,48852.36,0.0,0.0,0.0,0.0,0.00
6690,Laura Saenz,Medellín,Corporación de Salud Total Monte Azul,NC Venta,4162,2024-04-12 00:00:00,2024-07-02 00:00:00,0,17202.59,17202.59,0.0,0.0,0.0,0.0,0.00
6691,Diana Cartagena,Cartagena,Hospital General Monte Hermoso,Factura Venta Venta,7311,2024-08-06 00:00:00,2024-11-01 00:00:00,0,49265.33,49265.33,0.0,0.0,0.0,0.0,0.00
6692,Diana Alfonso,Cartagena,Centro Médico de Atención Plenitud y Vida,Factura Venta,3855,10/06/2023,08/07/2023,635,16058.69,0.00,0.0,0.0,0.0,0.0,16058.69

## Transformacion de la data y Eliminacion de variables innecesaria
### Eliminacion de variables
#### Columnas: 
##### Assesor
definicion de la columna
##### Cliente
definicion de la columna
##### Numero_Origen
definicion de la columna

In [82]:
df_bd_grados_no_nulls = df_bd_grados_no_nulls.drop(['Asesor','Cliente','Numero_Origen'],axis=1)
df_bd_grados_no_nulls

,Ubicaciones,Origen,F. Doc,F. Vcto,Dias Venc.,SaldoCartera,Sin Vencer,0-30,31-60,61-90,91-120,121+
0,Cali,NC Venta,2024-02-14 00:00:00,2024-02-14 00:00:00,19,11900.00,0.00,11900.0,0.0,0.0,0.0,0.00
1,Ibagué,Factura Venta Venta,2024-02-26 00:00:00,2024-04-11 00:00:00,38,2201500.00,2201500.00,0.0,0.0,0.0,0.0,0.00
2,Valledupar,Factura Venta Venta,2024-02-27 00:00:00,2024-03-28 00:00:00,24,931375.00,931375.00,0.0,0.0,0.0,0.0,0.00
3,Cúcuta,Factura Venta Venta,2023-12-19 00:00:00,2024-02-17 00:00:00,16,6134450.00,0.00,6134450.0,0.0,0.0,0.0,0.00
4,Cúcuta,Factura Venta Venta,2024-02-13 00:00:00,2024-04-13 00:00:00,40,6386730.00,6386730.00,0.0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
6688,Bucaramanga,Factura Venta,28/09/2024,24/11/2024,130,47130.50,0.00,0.0,0.0,0.0,0.0,47130.50
6689,Manizales,Factura Venta,2024-12-09 00:00:00,30/01/2026,0,48852.36,48852.36,0.0,0.0,0.0,0.0,0.00
6690,Medellín,NC Venta,2024-04-12 00:00:00,2024-07-02 00:00:00,0,17202.59,17202.59,0.0,0.0,0.0,0.0,0.00
6691,Cartagena,Factura Venta Venta,2024-08-06 00:00:00,2024-11-01 00:00:00,0,49265.33,49265.33,0.0,0.0,0.0,0.0,0.00
6692,Cartagena,Factura Venta,10/06/2023,08/07/2023,635,16058.69,0.00,0.0,0.0,0.0,0.0,16058.69

### Mapeo de las ubicaciones de los registros dividos en latitud y longitos, esto a partir de la hubicacion del registro

In [83]:
df_bd_grados_no_nulls['Ubicaciones'].unique()

array(['Cali', 'Ibagué', 'Valledupar', 'Cúcuta', 'Villavicencio',
       'Medellín', 'Bogotá', 'Barranquilla', 'Bucaramanga', 'Santa marta',
       'Pasto', 'Itagui', 'Pereira', 'Montería', 'Popayán', 'Cartagena',
       'Armenia', 'Tunja', 'Manizales', 'Apartadó', 'Neiva', 'Tuluá',
       'Palmira', 'Sabaneta', 'Marinilla', 'Sincelejo', 'Girardot'],
      dtype=object)

In [84]:
coordenadas_colombia = {
    "Cali": (3.4516, -76.5320),
    "Ibagué": (4.4447, -75.2424),
    "Valledupar": (10.4631, -73.2532),
    "Cúcuta": (7.8891, -72.4967),
    "Villavicencio": (4.1420, -73.6266),
    "Medellín": (6.2442, -75.5812),
    "Bogotá": (4.7110, -74.0721),
    "Barranquilla": (10.9685, -74.7813),
    "Bucaramanga": (7.1193, -73.1227),
    "Santa Marta": (11.2408, -74.1990),
    "Pasto": (1.2136, -77.2811),
    "Itagui": (6.1710, -75.6110),
    "Pereira": (4.8087, -75.6906),
    "Montería": (8.7470, -75.8814),
    "Popayán": (2.4448, -76.6147),
    "Cartagena": (10.3910, -75.4794),
    "Armenia": (4.5350, -75.6757),
    "Tunja": (5.5353, -73.3678),
    "Manizales": (5.0689, -75.5174),
    "Apartadó": (7.8816, -76.6392),
    "Neiva": (2.9359, -75.2890),
    "Tuluá": (4.0847, -76.1954),
    "Palmira": (3.5399, -76.3036),
    "Sabaneta": (6.1536, -75.6156),
    "Marinilla": (6.1758, -75.3365),
    "Sincelejo": (9.3047, -75.3978),
    "Girardot": (4.3034, -74.8000),
}

In [85]:
df_bd_grados_no_nulls['Latitud'] = df_bd_grados_no_nulls['Ubicaciones'].map(lambda x: coordenadas_colombia.get(x, (None, None))[0])
df_bd_grados_no_nulls['Longitud'] = df_bd_grados_no_nulls['Ubicaciones'].map(lambda x: coordenadas_colombia.get(x, (None, None))[1])
df_bd_grados_no_nulls

,Ubicaciones,Origen,F. Doc,F. Vcto,Dias Venc.,SaldoCartera,Sin Vencer,0-30,31-60,61-90,91-120,121+,Latitud,Longitud
0,Cali,NC Venta,2024-02-14 00:00:00,2024-02-14 00:00:00,19,11900.00,0.00,11900.0,0.0,0.0,0.0,0.00,3.4516,-76.5320
1,Ibagué,Factura Venta Venta,2024-02-26 00:00:00,2024-04-11 00:00:00,38,2201500.00,2201500.00,0.0,0.0,0.0,0.0,0.00,4.4447,-75.2424
2,Valledupar,Factura Venta Venta,2024-02-27 00:00:00,2024-03-28 00:00:00,24,931375.00,931375.00,0.0,0.0,0.0,0.0,0.00,10.4631,-73.2532
3,Cúcuta,Factura Venta Venta,2023-12-19 00:00:00,2024-02-17 00:00:00,16,6134450.00,0.00,6134450.0,0.0,0.0,0.0,0.00,7.8891,-72.4967
4,Cúcuta,Factura Venta Venta,2024-02-13 00:00:00,2024-04-13 00:00:00,40,6386730.00,6386730.00,0.0,0.0,0.0,0.0,0.00,7.8891,-72.4967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6688,Bucaramanga,Factura Venta,28/09/2024,24/11/2024,130,47130.50,0.00,0.0,0.0,0.0,0.0,47130.50,7.1193,-73.1227
6689,Manizales,Factura Venta,2024-12-09 00:00:00,30/01/2026,0,48852.36,48852.36,0.0,0.0,0.0,0.0,0.00,5.0689,-75.5174
6690,Medellín,NC Venta,2024-04-12 00:00:00,2024-07-02 00:00:00,0,17202.59,17202.59,0.0,0.0,0.0,0.0,0.00,6.2442,-75.5812
6691,Cartagena,Factura Venta Venta,2024-08-06 00:00:00,2024-11-01 00:00:00,0,49265.33,49265.33,0.0,0.0,0.0,0.0,0.00,10.3910,-75.4794
6692,Cartagena,Factura Venta,10/06/2023,08/07/2023,635,16058.69,0.00,0.0,0.0,0.0,0.0,16058.69,10.3910,-75.4794

In [15]:
df_geo = df_bd_grados_no_nulls[['Latitud', 'Longitud']]
df_sin_geo = df_bd_grados_no_nulls.drop(columns=['Latitud', 'Longitud'])

NameError: name 'df_bd_grados_no_nulls' is not defined

In [89]:
df_georeferenciado = pd.concat([df_geo, df_sin_geo], axis=1)

### Creacion del archivo limpio y con los formatos debidamente propios de las columnas

#### PATH de guardado: C:\Users\danie\OneDrive\Escritorio\bases\FinalBoss\DataBases\modified

In [14]:
path = r"C:\Users\danie\OneDrive\Escritorio\bases\FinalBoss\DataBases\modified\DB-grados-limpiada-georref.xlsx"
df_georeferenciado.to_excel(path, index=False)

NameError: name 'df_georeferenciado' is not defined

In [13]:
df_georeferenciado

NameError: name 'df_georeferenciado' is not defined

In [41]:
import pandas as pd

ruta_original = r"C:\Users\danie\OneDrive\Escritorio\bases\FinalBoss\base_financiera_corregida.xlsx"
df = pd.read_excel(ruta_original)

In [42]:

cols_venc = ['0-30', '31-60', '61-90', '91-120', '121+']
df[cols_venc] = df[cols_venc].fillna(0)

In [ ]:

pesos = {'0-30': 1, '31-60': 1.5, '61-90': 2, '91-120': 2.5, '121+': 3}
df['Riesgo'] = sum(df[col] * peso for col, peso in pesos.items())

In [ ]:

df['Puntaje'] = df['SaldoCartera'] - df['Riesgo']

In [ ]:

def etiquetar(puntaje):
    if puntaje < 0:
        return "Alta"
    elif puntaje < 10000:
        return "Media"
    else:
        return "Baja"

df['EtiquetaRiesgo'] = df['Puntaje'].apply(etiquetar)

In [ ]:

ruta_salida = r"C:\Users\danie\OneDrive\Escritorio\bases\FinalBoss\DataBases\modified\BaseOriginal_ConRiesgo.xlsx"
#df.to_excel(ruta_salida, index=False)

✅ Columnas agregadas y archivo guardado en:
→ C:\Users\danie\OneDrive\Escritorio\bases\FinalBoss\DataBases\modified\BaseOriginal_ConRiesgo.xlsx

In [ ]:
import pandas as pd


df = pd.read_excel(r'C:\Users\danie\OneDrive\Escritorio\bases\FinalBoss\DataBases\modified\DB-grados-limpiada-georref.xlsx')

if 'Sin Vencer' not in df.columns:
    df['Sin Vencer'] = 0.0
if 'DeudaVencida' not in df.columns:
    df['DeudaVencida'] = 0.0


for tramo in ['0-30', '31-60', '61-90', '91-120', '121+']:
    if tramo not in df.columns:
        df[tramo] = 0.0


df['DeudaVencida'] = df.apply(lambda x: x['SaldoCartera'] if x['Dias Venc.'] > 0 else 0.0, axis=1)
df['Sin Vencer'] = df.apply(lambda x: x['SaldoCartera'] if x['Dias Venc.'] <= 0 else 0.0, axis=1)


df.loc[(df['Dias Venc.'] > 0) & (df['Dias Venc.'] <= 30), '0-30'] = df['DeudaVencida']
df.loc[(df['Dias Venc.'] > 30) & (df['Dias Venc.'] <= 60), '31-60'] = df['DeudaVencida']
df.loc[(df['Dias Venc.'] > 60) & (df['Dias Venc.'] <= 90), '61-90'] = df['DeudaVencida']
df.loc[(df['Dias Venc.'] > 90) & (df['Dias Venc.'] <= 120), '91-120'] = df['DeudaVencida']
df.loc[(df['Dias Venc.'] > 120), '121+'] = df['DeudaVencida']


#df.to_excel('base_financiera_corregida.xlsx', index=False)

Base corregida y guardada correctamente.